@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
  background-color: black;
  margin-top: 5vw;
  margin-left: 10vw;
  padding: 20px;
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  color: white;
  font-size: 35px;
  letter-spacing: 3px;
}

.overall {
  /*font-family: 'Inter', sans-serif;*/
  display: flex;
  justify-content: center;
  margin-right: 200px;
}

.graph {
  /*font-family: 'Chonburi', cursive;*/
  font-weight: normal;
  margin-top: 10vw;
  font-family: 'Inter', sans-serif;
  max-width: 800px;
  display: flex;
  flex-direction: row;
}

.data {
  /*font-family: 'Chonburi', cursive;*/
  color: white;
  border-radius: 100%;
  background-color: yellow;
  font-size: 36px;
}