@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');


body {
	background-color: #0B1126;
}

a:link {
    text-decoration: none!important;

}

.main-page-container {
	text-decoration: none;
	margin: -100px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	align-self: center;
	font-size: 6vw;
}

.how-to {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	color: #9894CB;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: -0.8vw;
	margin-bottom: -0.8vw;
	min-width: 20vw;
	max-width: 20vw;
	z-index: 10;
	cursor: default;
}

@keyframes fadeOut {
  0% {color: #9894CB}
  0% {opacity: 100%}
  100% {color: #615F7C}
  100% {opacity: 10%}
}

.how-to-black {
		animation: fadeOut linear 2s;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    color: #615F7C;
    opacity: 10%;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: -0.8vw;
    margin-bottom: -0.8vw;
    min-width: 20vw;
    max-width: 20vw;
    z-index: 10;
    cursor: default;
}


.focus-black {
	
	text-decoration: none;
	font-style: italic;
	font-family: 'Raleway', sans-serif;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: -0.8vw;
	margin-bottom: -0.8vw;
	min-width: 20vw;
	max-width: 20vw;
	color: #0B1126;

	/*cursor: radial-gradient(50% 50% at 50% 50%, #B4C0FF 0%, rgba(196, 196, 196, 0) 100%);*/
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.focus {
	animation: fadeIn linear 2s;
    text-decoration: none;
    font-style: oblique;
    font-family: 'Raleway', sans-serif;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: -0.8vw;
    margin-bottom: -0.8vw;
    min-width: 20vw;
    max-width: 20vw;
    color: #9894CB;
}