@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

body {
	background-color: #0B1126;
}

a:link {
    text-decoration: none!important;
    color: #9894CB;
}

.container {
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	align-self: center;
	font-size: 6vw;
	flex-direction: column;
}

h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-style: oblique;
	color: #9894CB;
	font-size: 6.5vw;
	line-height: 6.5vw;
}

p {
	max-width: 60vw;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #615F7C;
	font-size: 3vw;
	line-height: 3.2vw;
}

.vertical-center {
	margin: 0;
    position: absolute;
    top: 50%;
   	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

ul {
	margin-top: 0;
	font-family: 'Raleway', sans-serif;
	color: #615F7C;
	font-size: 3vw;
	line-height: 3vw;
	max-width: 60vw;
}

.lower-right-button-1 {
	font-style: oblique;
	text-align: center;
	font-family: 'Raleway', sans-serif;
    text-decoration: none!important;
	position: fixed;
	background-color: #9894CB;
	color: #0B1126;
	font-size: 3vw;
	line-height: 3vw;
	margin-left: 30vw;
	/*margin-top: 55vw;*/
	padding: 1vw;
	min-width: 30vw;
	transition: opacity 0.2s ease;
}

.lower-right-button-1:hover {
	opacity: 0;
}

.lower-right-button-2 {
	text-decoration: none!important;
	font-style: oblique;
	text-align: center;	
	font-family: 'Raleway', sans-serif;
	position: fixed;
	background-color: #9894CB;
	color: #0B1126;
	font-size: 3vw;
	line-height: 3vw;
	margin-left: 30vw;
	/*margin-top: 55vw;*/
	min-width: 30vw;
	padding: 1vw;
}