body {
  background-color: #060B2C;
}

#rocket {
  height: 18vw;
  margin-top: 60vh;
  margin-left: 20vw;
  animation: takeoff 8s ease-in-out infinite;
}

@keyframes takeoff {
  0% {
    transform: translateY(0vw) translateX(0vw);
  }
  2%, 6%, 10%, 14%, 18%, 22% {
    transform: translateX(0.5vw) rotate(1deg);
  }
  4%, 8%, 12%, 16%, 20% {
    transform: translateX(-0.5vw) rotate(-1deg);
  }

  25% {
    transform: translateY(1vw) translateX(0vw) sacle(0.5);
  }

  40% {
    transform: translateY(-27vw) translateX(5vw) rotate(20deg) scale(0.5);
  } 

  70% {
    transform: translateY(-26vw) translateX(0vw) rotate(360deg) scale(0.5);
  }
  
  90%, 100% {
    transform: translateY(0vw) translateX(0vw) rotate(360deg);
  }
}

